
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
}
h1{
    flex: 0 0 100%;
    background-color: aqua;
    color: red;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}
.col1{
    flex: 0 0 35%;
    padding-left: 15px;
    padding-right: 15px;
}
p{
    font-size: large;
}
span{
    display: block;
}
.col2{
    flex: 0 0 60%;
}
.row{
    font-size: larger;
    display: flex;
}
label{
    margin-left: 0px;
    margin-bottom: 10px;
}
select{
    margin-left: 10px;
    margin-bottom: 10px;
}
i{
    margin-left: 500px;
    cursor: pointer;
}
textarea{
    color: black;
    background-color:white;
}
textarea::selection{
    color: black;
}
.end{
    display: flex;
    justify-content: right;
}
.run{
    border: 0 solid black;
    height: 25px;
    width: 60px;
    border-radius: 10px;
    background-color: aliceblue;
    text-align: center;
    font-size: larger;
    margin: 15px;
    cursor: pointer;
}
.submit{
    border: 0 solid black;
    height: 25px;
    width: 80px;
    border-radius: 10px;
    background-color: green;
    text-align: center;
    font-size: larger;
    margin: 15px;
    cursor: pointer;
}
a{
    color: white;
    text-decoration: none;
}
.copywrite{
    padding: 15px;
    display: flex;
    justify-content: end;
}
.name{
    color: black;
}